.search-filter {
  color: white;
}

.search-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.search-filter__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.search-filter__control select {
  font: inherit;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 30rem;
}

.search__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.search input {
  font: inherit;
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 8rem;
  max-width: 100%;
}
