.expenses {
  padding: 1rem;
  background-color: white;
  margin: 1rem auto;
  width: 100rem;
  max-width: 95%;
}

table {
  width: 100%;
}

table,
td {
  border: 1px solid #7a958a;
  padding: 4px;
  max-width: 100%;
}

thead,
tfoot {
  background-color: #7a958a;
  color: #fff;
}

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}
