.header {
  background-color: #7a958a;
  padding: 1rem;
  margin: auto;
  margin-top: 2rem;
  width: 100rem;
  max-width: 95%;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.header text {
  font: inherit;
  padding: 1rem 2rem;
  color: white;
  font-weight: 600;
}
